@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #27181e;
}

body {
    height: 100vh;
    background: rgb(251,146,25);
    background: linear-gradient(304deg, rgba(251,146,25,1) 0%, rgba(253,187,45,1) 100%);
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    gap: 32px;
}

#header {
    margin-top: 32px;
    font-size: 64px;
    text-align: center;
    color: white;
    background-color: #27181e;
    padding: 0.2em 1em;   
    font-weight: 800; 
}

#content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 800px;
}

#status {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

#results-container {
    width: 100%;
}

#images-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}


#images-container img:first-child {
    transform: scaleX(-1);
}

#images-container img {
    flex: 0 1 200px;
    filter: drop-shadow(3px 5px 20px rgba(245, 90, 28, 0.4));
}

#controls-container {
    width: 900px;
    text-align: center;
}

#controls-container h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

#buttons {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
}

.object-button {
    flex: 1 1 auto;
    background: none;
    border: none;
}

.button-image {
    height: 200px;
    filter: drop-shadow(3px 5px 20px rgba(245, 90, 28, 0.5));
    transition: all 0.2s ease-out;
}

.button-image:hover {
    transform: scale(1.1);
    transform: rotate(3deg);
}

.button-label {
    color: white;
    background-color: #27181e;
    padding: 0.2em 1em;
    width: fit-content;  
    margin: 0 auto;
    font-size: 20px;
}