@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: rgb(251,146,25);
    background: linear-gradient(304deg, rgba(251,146,25,1) 0%, rgba(253,187,45,1) 100%);
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    gap: 32px;
}

#header {
    margin-top: 32px;
    font-size: 64px;
    text-align: center;
    color: white;
    background-color: #27181e;
    padding: 0.2em 1em;   
    font-weight: 800; 
}

#content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 600px;
}

#status {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#results-container {
    width: 100%;
}

#images-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}


#images-container img:first-child {
    transform: scaleX(-1);
}

#images-container img {
    flex: 0 1 200px;
    filter: drop-shadow(3px 5px 20px rgba(245, 90, 28, 0.4));
}